# Server Port
PORT=3000

# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173

# Database Connection (PostgreSQL)
# Options 1: Database URL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/job_queue

# Options 2: Individual Connection Parameters
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=job_queue
DB_SSL=false
